div.container{
    width:400px;
    margin: 5%;
    float: left;
}
div.css{
     border: 2px solid #264de4;
}
div.html{
     border: 2px solid #e44d26;
}
/* padding,margin 속성값이 한개일때, 상하좌우 모두 적용 두개일 때, 상하 좌우 별도로 적용 */
div.header{
    text-align: center;padding: 3px;
}
/* 크기 단위를 %로 하면 부모 container 요소의 크기를 기준으로 비율 정함 */
div.logo{
    text-align: center;padding: 7% 15%;
}

/* 여러 곳에서 사용되는 속성은 별도로 정의 */
div.bottom{
    border-bottom:1px solid gray;
}
div.footer
{
    text-align: center;padding-top: 2px;
}

/* span 요소 - 단순히 텍스트를 감싸기 위한 목적. (별도의 스타일 지정 가능) */
span {
    display: inline-block; /*인라인 특징을 유지하면서 블록처럼 크기 설정*/
    padding: 4px 10px;
    
}
span.title {
    width: 25%;
    border-right: 1px solid gray;
    text-align: center;
    font-weight: 600;
    font-family: "Malgun Gothic";
}
span.title1{
    width: 25%;
    border-right: 1px solid gray;
    text-align: center;
    font-weight: 600;
    font-family: "Malgun Gothic";
}
