*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
header

 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0px;
    margin: 0px;
    color: #fff;
    box-shadow: 0px 0.7142857143rem 1.4285714286rem 0 rgba(15, 16, 16, 0.3);
}

.top-nav
{
    padding: 1px;
    margin: 0px;
    background-color: #011122;
}
.top-nav > ul{
    display: flex;
    gap: 120px;
}
.top-nav > ul > li{
    font-size: small;
}
a{
    color: white;
    text-decoration: none;
}
header .top-nav li.sns-wrap{
    position: absolute;
    right: 0;
}
.header-wrap{
    display: flex;
    width: 100%;
    background: #071d3d;
}
.header-wrap > div{
    display: flex;
}
.menu-wrap > ul{
    display: flex;
    gap: 50px;
       
}
.menu-wrap > ul > li{
    justify-content: center;
    vertical-align: baseline;

}

.header-wrap .logo >a{
    display: block;
    background: url(NCDinos.png);
    background-size: 100%;
    width: 8.3714285714rem;
    height: 3.0714285714rem;
}

.hidden{
    text-indent: -9999px;
    overflow: hidden;
    font-size: 0;
}

nav, header{
    
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
nav, header{
    display: block;
}