.container{
    min-width: 90px;
    min-height: 300px;
    margin: 0 100px 100px 100px;
    background-color: burlywood;
}

.container >div{
    width: 200px;
    height: 200px;
    border: 2px dotted blueviolet;
}

.flex-row{
    display: flex;
    /* 레이아웃 row 방향 기본값 (생략 가능) */
    flex-direction: row;
}

.wrap{
    /* 기본값은 nowrap */
    flex-wrap: wrap;
}